.search-form {
  width: 100%;
  max-width: 680px;
  display: flex; /* Add this to align elements properly */
}

.search-form-elem {
  flex: 1; /* Allows the input to grow and take available space */
  padding: 1.4rem 2.8rem;
  border-radius: 3.8rem; /* Make the corners more rounded */
  background-color: rgba(255, 255, 255, 1); /* Add a light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  display: flex; /* Add this for input and button to align properly */
}

.search-form-elem .form-control {
  font-size: 2rem;
  padding: 0.6rem;
  border: none; /* Remove default border */
  outline: none; /* Remove outline on focus */
  border-radius: 3.8rem; /* Ensure the input matches the container's border radius */
  flex: 1; /* Allow input to take remaining space */
}

.search-form-elem .form-control::placeholder {
  opacity: 0.9; /* Keep the placeholder text slightly visible */
  color: #aaa; /* Change the color to be cohesive */
}

.search-form-elem button {
  color: white; /* Set button text color */
  border: none; /* Remove button border */
  border-radius: 3.8rem; /* Match the border radius */
  padding: 1rem 2rem; /* Add padding for button */
  cursor: pointer; /* Change cursor on hover */
  margin-left: 1rem; /* Space between input and button */
}

.search-form-elem button:hover {
  background-color: #aaa; /* Darker shade on hover */
}
